ul{
    list-style-type: square;
}


body{
    background-image: linear-gradient(yellow,red,green);
    height:100vh;
}


#i{
    background-color: yellow;
}


#p{
    background-color: aqua;
}


